.main-content{
	margin-top: 50px;
}
.content{
	padding: 10px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 7pc #aaa;
}
.footer{
	margin-top: 50px;

}
.single-post{
	margin-bottom: 25px;
}
.single-post img
{
	width:100%;
}